html {
  scroll-behavior: smooth;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
p {
  color: white;
  font-family: "Chillax";
  font-weight: 200;
  font-size: 16px;
}
.head {
  font-family: "Santoshi", sans-serif;
  color: white;
  font-size: 8rem;
  color: var(--neongreen);
  margin: 20px 0;
}
.one-liner {
  text-align: center;
}
.link-service a,
.work-head a {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 12px;
}
.link-service p {
  font-family: "Santoshi", sans-serif;
  font-size: 1rem;
}
.arrow {
  font-size: 12px;
  border: 1px solid rgba(218, 197, 187, 15%);
  background-color: #dac5a741;
  padding: 10px 12px;
  border-radius: 50%;
  color: var(--neongreen);
}

.services {
  margin-top: 28px;
  display: flex;
  gap: 12px;
  justify-content: center;
}
.services div {
  width: 25%;
  padding: 20px 30px;
  background-color: rgba(218, 197, 187, 5%);
  border-radius: 4px;
  border: 1px solid #343230;
}
h2 {
  font-family: "Santoshi", sans-serif;
  color: var(--neongreen);
  font-size: 24px;
  margin: 0;
}
.home .link {
  font-family: "Santoshi", sans-serif;
}

.number {
  font-family: "Santoshi", sans-serif;
  color: var(--neongreen);
}

.services .link{
    display: flex;
    align-items: center;
    gap: 6px;
}
.arrow-outline {
  background-color: transparent;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 14px;
  border: 2px solid rgba(218, 197, 187, 15%);
  border-radius: 50%;
  color: var(--neongreen);
}

.selected-work {
  margin-top: 5rem;
}

.selected-work h2 {
  font-size: 40px;
}

.works {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.image {
  position: relative;
  width: 45%;
  border: 1px solid #dac5a741;
}
.image img {
  width: 100%;
}

.image-text {
  left: 2%;
  width: 90%;
  position: absolute;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  bottom: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid #dac5a741;
}

.work-head {
  padding: 10px 48px;
  display: flex;
  justify-content: space-between;
}
.steps{
    margin-top: 4rem;
}
.steps-head{
    font-size: 6rem;
    text-align: center;
    font-weight: 400;
}
.steps h4{
    color: white;
    text-align: center;
    font-family: 'Santoshi';
}
.steps-head span{
    font-family: 'Gambetta Italic';
    
}

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timeline .arrow-outline{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
}

.testimonial,.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text{
  display: flex;
  justify-content: center;
}
.about-text div{
  width: 45%;
}
.about-text h3{
  font-size: 40px;
  color: var(--neongreen);
}

.about-text p{
  font-size: 16px;
}

.about-text p span{
  font-weight: 500;
}
.social-icons{
  display: flex;
  gap: 12px;
}
.icons{
  color: var(--neongreen);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #343230;
  width: 20px !important;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  background-color: #14110c1e;
  font-size: 16px;
}

