
.slides{
    background-color: rgba(218, 197, 167, 0.087);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
}

.profile-img{
    border-radius: 50%;
    border:2px solid rgba(85, 163, 51, 0.664);
}
.profile-img img{
    border-radius: 50%;
}
.review-text{
    width: 45%;
}
.review-text p{
    padding: 20px;
}

@media screen and (max-width:768px) {
    .slides{
        width: 50%;
    }
}