:root{
  --black: black;
  --white: white;
  --neongreen: #c8f904;
}

body{
  background-color: black;

}

.link{
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.link.button{
  background-color: #c8f904;
  color: black;
  padding: 8px;
  border-radius: 4px;
}

@font-face {
  font-family: 'Santoshi';
  src: url('./assets/fonts/Satoshi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/Chillax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}